.profDiv{

  min-width: inherit;
  width: auto;
  height: auto;
  overflow: auto;
  position: relative;
  border-left: 4px solid;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 35px;
  z-index: 100000;
  position: absolute;


}

.name:hover {
  color: white;
}

.overall{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  display: block;
}

.overallText{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;


}

.score{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  display: inline-block;
}


.difficulty{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  display: block;
}

.difText{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;


}

.difScore{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  display: inline-block;
}


.takeAgain{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  display: block;
}

.takeAgainText{
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 10px;
  color: white;
  font-size: 12px;
  display: inline-block;


}

.percent{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  display: inline-block;
}


.name{
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 16px;
  display: block;
}

.score{
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  display: inline-block;
}

.tagPair{
  white-space: nowrap;
  text-align: center;
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tagWord{
  text-align: center;

  color: white;
  font-size: 14px;
  display: inline-block;
  border-style: solid;
  border-right-style: none;
  border-color: white;
  padding-left: 10px;
  padding-right: 10px;
}



.tagCount{
  text-align: center;
  color: #5A5A5A;
  font-size: 14px;
  border-style: solid;
  border-color: white;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}

.commonTags{
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 12px;
  display: block;
}

p.reviewCount{
  margin: 0;
  padding: 0;
}

.reviewCount{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 12px;
  display: block;
}


.profDiv img{
  width: 32px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  justify-content: center;
  bottom: 10px;
  left: 0;
  right: 0;

}
